<ul class="posts">
    {% for comment in comments %}
    <li class="post">
        <div class="post-thumbnail">
            <a href="{{ url_for('.user_profile', username=comment.author_id.username) }}">
                </a>
        </div>
        <div class="post-content">
            <div class="post-date">{{ moment(comment.timestamp).fromNow() }}</div>
            <div class="post-author"><a href="{{ url_for('.user_profile', username=comment.author_id.username) }}">{{ comment.author_id.username }}</a></div>
            <div class="post-body">{{ comment.body }}</div>
        </div>

        <div class="post-footer" align="right">
            <span class="badge">{{ comment.rating }}</span>
            <a href="{{ url_for('.up_vote_commentary', comment_id=comment.id) }}">
                <span class="label label-default">Vote Up</span>
            </a> <a href="{{ url_for('.down_vote_commentary', comment_id=comment.id) }}">
                <span class="label label-default">Vote Down</span>
            </a>
        </div>
    </li>
    {% endfor %}
</ul>
{% include 'includes/pagination.html' %}
