<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <div class="post-thumbnail">
            <a href="{{ url_for('.user_profile', username=post.author_id.username) }}">
                </a>
        </div>
        <div class="post-content">
            <div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>
            <div class="post-author"><a href="{{ url_for('.user_profile', username=post.author_id.username) }}">{{ post.author_id.username }}</a></div>
            <div class="post-body">{{ post.body }}</div>
        </div>

        <div class="post-footer" align="right">
            <a href="{{ url_for('.post', id=post.id) }}">
                <span class="label label-default">Link</span>
            </a>
        </div>
    </li>
    {% endfor %}
</ul>
{% include 'includes/pagination.html' %}
