{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <ul class="followers">
    {% for follower in followed_by_user %}
    <li class="followers">
        <div class="post-thumbnail">
            <a href="{{ url_for('.user_profile', username=follower.username) }}">
                {{ follower.username }} Profile
                </a>
        </div>
       <div class="post-date">
{#                {{ moment(follower.timestamp).fromNow() }}</div>#}
                Following time
        </div>
    </li>
    {% endfor %}
</ul>
    {% include 'includes/pagination.html' %}
{% endblock %}