{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
Author: <a href="{{ url_for('.user_profile', username=post.author_id.username) }}">{{ post.author_id.username }}</a>
    <br>
Message: {{ post.body }} <br>

Was posted: {{ post.timestamp }} <br>

    {% if current_user.can(Permission.COMMENT) %}
        {{ wtf.quick_form(form) }}
    {% endif %}

    {% include '_comments.html' %}

{% endblock %}