{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
{#    <table>#}
{#    <tr>#}
{#    <th>Post ID</th>#}
{#    <th>Post body</th>#}
{#    <th>Author ID</th>#}
{#    </tr>#}
{#    {% for post in recommended_post %}#}
{#        <tr>#}
{#        <td>#}
{#            {{ post.id }}#}
{#        </td>#}
{#        <td>#}
{#            {{ post.body }}#}
{#        </td>#}
{#        <td>#}
{#            <a href="{{ url_for('.user_profile', username=post.author_id.username)}} "> {{ post.author_id.username }}</a>#}
{#        </td>#}
{#        </tr>#}
{#        {% endfor %}#}
{#    </table>#}
    {% include('_posts.html') %}
{% endblock %}