{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
<div class="page-header">
<h1>{{ user.username }}</h1>
{% if user.name or user.location %}
<p>
{% if user.name %}{{ user.name }}{% endif %}
    {% if user.location %}
        From <a href="http://maps.google.com/?q={{ user.location }}">
    {{ user.location }}
</a>
    {% endif %}
</p>
{% endif %}
    {% if current_user.is_admin %}
     <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
    {% endif %}
{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
<p>
Member since {{ moment(user.member_since).format('L') }}.<br>
Last seen {{ moment(user.last_seen).fromNow() }}.<br>
    {% if current_user.can(Permission.FOLLOW) and user != current_user %}
        {% if current_user.is_following(user) %}
            <a href="{{ url_for('.unfollow', username=user.username)  }}" class="btn btn-primary"> Unfollow </a>
            {% else %}
            <a href="{{ url_for('.follow', username=user.username) }}" class="btn btn-primary"> Follow </a>
    {% endif %}
    {% endif %}
    <a href="{{ url_for('.followers', username=user.username) }}">
        Followers:
        <span class="badge">{{ user.total_followers }}</span>
    </a>

    <a href="{{ url_for('.followed_by_user', username=user.username) }}">
        Following:
        <span class="badge">{{ user.total_followed }}</span>
    </a>
</p>
</div>

    {% if user == current_user %}
    <a class="btn btn-default" href="{{ url_for('main.edit_profile') }}">
        Edit Profile
    </a>
    {% endif %}

    {% if current_user.is_admin() %}
        <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">
        Edit Profile [ADMIN]
        </a>
    {% endif %}

    <h3>Posts by {{ user.username }}</h3>
    {% include '_posts.html' %}
{% endblock %}