{% extends "base.html" %}
{%  import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Login {% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Login</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>

    <p>
    <a href="{{ url_for('auth.register') }}">
        Click here to register
    </a>

    </p>
{%  endblock %}

